<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  
  <Bundle Name="Umanyi School MS" Version="7.1.4" Manufacturer="Raphael Muindi" UpgradeCode="93752b90-f087-408a-9226-4f2f65ea067d"
HelpTelephone="+254-721-626-250"
HelpUrl="http://www.umanyi.co.ke/sms/help"
AboutUrl="http://www.umanyi.co.ke/sms/" SplashScreenSourceFile="C:\Dev\SplashSCreen.bmp"
     DisableModify="yes" DisableRepair="yes">
    <Variable Name="LogLocation" Value="C:\ProgramData\Raphael Muindi\UmanyiSMS\Logs\InstallLog.Log"/>
    <Log PathVariable="LogLocation"/>
    <bal:Condition Message="This software can only be installed on Windows 7 or newer OS.">
      <![CDATA[VersionNT >= v6.1]]>
    </bal:Condition>
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      
      <Payload SourceFile="$(var.SetupUI.TargetDir)SetupUI.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Microsoft.Deployment.WindowsInstaller.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Microsoft.WindowsAPICodePack.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Microsoft.WindowsAPICodePack.Shell.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)Microsoft.Windows.Shell.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)System.Windows.Controls.Input.Toolkit.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)System.Windows.Controls.Layout.Toolkit.dll" />
      <Payload SourceFile="$(var.SetupUI.TargetDir)WPFToolkit.dll" />
      <Payload SourceFile= "$(var.SetupUI.TargetDir)BootstrapperCore.config" />
    </BootstrapperApplicationRef>
    <Chain>
      
      <PackageGroupRef Id="NetFx451Redist"/>
      <MsiPackage Id="sqlncli2012x64" InstallCondition="NOT VersionNT64"  Permanent="yes" ForcePerMachine="yes" SourceFile="C:\Storage\Softs\Redist\Sql Feature Pack\x86\sqlncli2012.msi">
         <MsiProperty Name="IACCEPTSQLNCLILICENSETERMS" Value="Yes"/>
      </MsiPackage>
      <MsiPackage Id="sqlncli2012x86" InstallCondition="VersionNT64" Permanent="yes" ForcePerMachine="yes" SourceFile="C:\Storage\Softs\Redist\Sql Feature Pack\x64\sqlncli2012.msi" >
         <MsiProperty Name="IACCEPTSQLNCLILICENSETERMS" Value="Yes"/>
      </MsiPackage>
      <MsiPackage Permanent="yes" ForcePerMachine="yes" SourceFile="C:\Storage\Softs\Redist\Sql Feature Pack\x86\SQLSysClrTypes2012.msi" />
        <MsiPackage Permanent="yes" ForcePerMachine="yes" SourceFile="C:\Storage\Softs\Redist\Sql Feature Pack\x86\SharedManagementObjects2012.msi" />
      <MsiPackage Permanent="yes" ForcePerMachine="yes" SourceFile="C:\Storage\Softs\Redist\SqlLocalDb.msi" InstallCondition="NOT (LDB2012Exists OR LDB2014Exists OR LDB2016Exists) " >
        <MsiProperty Name="IACCEPTSQLLOCALDBLICENSETERMS" Value="Yes"/>
      </MsiPackage>
      <MsiPackage Id="UmanyiSMS" ForcePerMachine="yes" SourceFile="$(var.SetupClient.TargetDir)SetupClient.msi" />
    </Chain>
  </Bundle>
</Wix>
