<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">

  <?if $(var.Platform)=x64 ?>

  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define Win64 = "yes"?>
  <?define ProductName = "Umanyi School MS (64 bit)" ?>
  <?define ProductCode= "54A87CC9-AF77-4635-B597-F2DA7EA8559F" ?>

  <?else ?>

  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define Win64 = "no"?>
  <?define ProductName = "Umanyi School MS" ?>
  <?define ProductCode = "E87C0D4B-1902-4730-B169-8F776E2EFFC2" ?>
  <?endif ?>

  <Product Id="*" Name="$(var.ProductName)" Language="2057" Version="6.8.805.6500" Manufacturer="Umanyi Digital Technologies Ltd"
           UpgradeCode="$(var.ProductCode)">

    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />


    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Property Hidden="yes" Id="DB_USER" Value="sa"/>
    <Property Hidden="yes" Id="DB_PASSWORD" Value="000002"/>
    <Property Hidden="yes" Id="DB_DATABASE" Value="UmanyiSMS"/>

    <!-- Specify UI -->
    <UIRef Id="MyUI" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Binary Id="CheckSqlConnection.dll" SourceFile="$(var.CheckSqlConnection.TargetDir)CheckSqlConnection.CA.dll"/>
    <CustomAction Id="CheckSqlConnectionAction" BinaryKey="CheckSqlConnection.dll" DllEntry="CheckSqlConnection"/>

    <Feature Id="ProductFeature" Title="Umanyi" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ShortcutComponents" />
    </Feature>

    <CustomAction Id="SetServerName" Property="DB_SERVER" Value="[ComputerName]\Umanyi" Execute="immediate"/>

    <CustomAction Id="SetPassword" Property="DB_SERVER" Value="[ComputerName]\Umanyi" Execute="immediate"/>

    <InstallExecuteSequence>
      <Custom Action="SetServerName"
      After="LaunchConditions" />
    </InstallExecuteSequence>



    <Condition Message="OS must be Windows Vista SP2, Server 2008, or higher.">
      <![CDATA[Installed OR VersionNT >= 600]]>
    </Condition>

   
  </Product>



  <!-- Program Folders & SQL Tables -->
  <Fragment>
    <util:User Id="SQLUserSA" Name="[DB_USER]" Password="[DB_PASSWORD]"></util:User>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ALFolder" Name="Umanyi">
          <Directory Id="INSTALLFOLDER" Name="Umanyi School MS">          
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder"/>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="cmp1" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)AxInterop.AcroPDFLib.dll" />
      </Component>
      <Component Id="cmp2" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Interop.AcroPDFLib.dll" />
      </Component>
      <Component Id="cmp3" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)System.Collections.Immutable.dll" />
      </Component>
      <Component Id="cmp4" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)log4net.dll" />
      </Component>
      <Component Id="cmp5" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Microsoft.WindowsAPICodePack.dll" />
      </Component>
      <Component Id="cmp6" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Microsoft.WindowsAPICodePack.Shell.dll" />
      </Component>
      <Component Id="cmp7" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="cmp8" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Helper.dll" />
      </Component>
      <Component Id="cmp9" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)OpenXmlPackaging.dll" />
      </Component>  
      <Component Id="cmp10" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)UmanyiSMS.exe" />
      </Component>
      <Component Id="cmp11" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)UmanyiSMS.Helper.dll" />
      </Component>
      <Component Id="cmp12" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)UmanyiSMS.exe.config" />
      </Component>
      <Component Id="cmp13" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="cmp14" Guid="*">
        <File Source="C:\Dev\Common\gxps-9.15-win32.exe" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ShortcutComponents" Directory="DesktopFolder">
      <Component Id="cmp30" Guid="*">
        <Shortcut Id="desktopShortcut" Name="Umanyi School MS"
        Description="Umanyi School Management System"
        Target="[INSTALLFOLDER]UmanyiSMS.exe" />
        <RegistryValue Root="HKCU"
        Key="Software\Umanyi Digital Technologies"
        Name="installed"
        Type="integer"
        Value="1"
        KeyPath="yes" />
        <RegistryValue Root="HKCU"
          Key="Software\Umanyi Digital Technologies"
          Name="first_run"
          Type="integer"
          Value="1"/>
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>