<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">

  <?if $(var.Platform)=x64 ?>

  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define Win64 = "yes"?>
  <?define ProductName = "Umanyi School MS (64 bit)" ?>
  <?define ProductCode= "54A87CC9-AF77-4635-B597-F2DA7EA8559F" ?>

  <?else ?>

  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define Win64 = "no"?>
  <?define ProductName = "Umanyi School MS" ?>
  <?define ProductCode = "E87C0D4B-1902-4730-B169-8F776E2EFFC2" ?>
  <?endif ?>

  <Product Id="*" Name="$(var.ProductName)" Language="2057" Version="7.1.2" Manufacturer="Raphael Muindi"
           UpgradeCode="$(var.ProductCode)">

    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />


    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="Umanyi" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ShortcutComponents" />
    </Feature>

    <Condition Message="This software can only be installed on Windows 7 or newer OS.">
      <![CDATA[VersionNT >= v6.1]]>
    </Condition>

   
  </Product>



  <!-- Program Folders & SQL Tables -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ALFolder" Name="Umanyi">
          <Directory Id="INSTALLFOLDER" Name="Umanyi School MS">          
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder"/>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="cmp1" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)AxInterop.AcroPDFLib.dll" />
      </Component>
      <Component Id="cmp2" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Interop.AcroPDFLib.dll" />
      </Component>
      <Component Id="cmp3" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)System.Collections.Immutable.dll" />
      </Component>
      <Component Id="cmp4" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)log4net.dll" />
      </Component>
      <Component Id="cmp7" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="cmp8" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)UmanyiSMS.Lib.dll" />
      </Component>
        
      <Component Id="cmp10" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)UmanyiSMS.exe" />
      </Component>
      <Component Id="cmp12" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)UmanyiSMS.exe.config" />
      </Component>
      
      <Component Id="cmp14" Guid="*">
        <File Source="C:\Dev\Common\gxps-9.15-win32.exe" />
      </Component>
    <Component Id="cmp15" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Microsoft.SqlServer.ConnectionInfo.dll" />
      </Component>
    <Component Id="cmp16" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Microsoft.SqlServer.Dmf.dll" />
      </Component>
  <Component Id="cmp17" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Microsoft.SqlServer.Management.Sdk.Sfc.dll" />
      </Component>
        <Component Id="cmp18" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Microsoft.SqlServer.RegSvrEnum.dll" />
      </Component>
        <Component Id="cmp19" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Microsoft.SqlServer.ServiceBrokerEnum.dll" />
      </Component>
    
    <Component Id="cmp21" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Microsoft.SqlServer.SmoExtended.dll" />
      </Component>
  <Component Id="cmp22" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Microsoft.SqlServer.SqlEnum.dll" />
      </Component>
        <Component Id="cmp23" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Microsoft.SqlServer.Smo.dll" />
      </Component>
        <Component Id="cmp24" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)UmanyiSMS.mdf" />
      </Component>
      <Component Id="cmp25" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)UmanyiSMS_log.ldf" />
      </Component>
    
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ShortcutComponents" Directory="DesktopFolder">
      <Component Id="cmp30" Guid="*">
        <Shortcut Id="desktopShortcut" Name="Umanyi School MS"
        Description="Umanyi School Management System"
        Target="[INSTALLFOLDER]UmanyiSMS.exe" />
        <RegistryValue Root="HKCU"
        Key="Software\Umanyi\UmanyiSMS"
        Name="installed"
        Type="integer"
        Value="1"
        KeyPath="yes" />
        <RegistryValue Root="HKCU"
          Key="Software\Umanyi\UmanyiSMS"
          Name="first_run"
          Type="integer"
          Value="1"/>
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>