<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Helper.Properties.Settings>
            <setting name="DBBackupDirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MostRecentBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>Starehe</value>
            </setting>
            <setting name="DefaultDBName" serializeAs="String">
                <value>Starehe</value>
            </setting>
            <setting name="DBNewSchemaFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DBDefaultDefnFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DBFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DBLogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DBDirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseDefaultSQLInstance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoFullStartupCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </Helper.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Helper.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>Starehe</value>
            </setting>
            <setting name="DefaultPWD" serializeAs="String">
                <value>default</value>
            </setting>
        </Helper.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>