<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">


  <Bundle Name="Umanyi School Management System" Version="6.6.5.2015" Manufacturer="Umanyi Digital Technologies Ltd" UpgradeCode="6238b473-021f-4324-9926-f9198f4bd6ca">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense">
      <bal:WixStandardBootstrapperApplication SuppressOptionsUI="yes" LicenseFile="E:\Dev\School MS Common\UmanyiSMSLicense.rtf" />
    
    </BootstrapperApplicationRef>
    
    <Chain>      
      <PackageGroupRef Id="NetFx451Redist"/>
      <PackageGroupRef Id="SQL_SERVER_2008_EXPRESS"/>
      <MsiPackage Compressed="no" DisplayInternalUI="yes" SourceFile="$(var.SetupServer.TargetDir)UmanyiSMS.msi" LogPathVariable="[TempFolder]"/>
    </Chain>
  </Bundle>

</Wix>