<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">


  <Bundle Name="Starehe" Version="6.5.0.0" Manufacturer="Almond Tech" UpgradeCode="6238b473-021f-4324-9926-f9198f4bd6ca">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication LicenseUrl="https://www.gnu.org/licenses/lgpl.html" SuppressOptionsUI="yes" />
    
    </BootstrapperApplicationRef>
    
    <Chain>      
      <PackageGroupRef Id="NetFx451Redist"/>
      <PackageGroupRef Id="SQL_SERVER_2008_EXPRESS"/>
      <MsiPackage Compressed="yes" DisplayInternalUI="yes" SourceFile="$(var.Setup.TargetDir)Setup.msi" LogPathVariable="[TempFolder]"/>
    </Chain>
  </Bundle>

</Wix>