<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">

  <?if $(var.Platform)=x64 ?>

  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define Win64 = "yes"?>
  <?define ProductName = "Umanyi (64 bit)" ?>
  <?define ProductCode= "5BD9AAFA-34ED-463C-9C14-EB793AF9D45D" ?>

  <?else ?>

  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define Win64 = "no"?>
  <?define ProductName = "Umanyi" ?>
  <?define ProductCode = "b4eb6124-f631-4d04-926f-ea97dfbd6bc2" ?>
  <?endif ?>
  
<Product Id="*" Name="$(var.ProductName)" Language="2057" Version="6.5.0.0" Manufacturer="Almond Tech" 
           UpgradeCode="$(var.ProductCode)">
    
		<Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />

  
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

  <Property Id="DB_USER" Value="sa"/>
    <Property Id="DB_PASSWORD" Value="000002"/>
    <Property Id="DB_DATABASE" Value="Starehe"/>
  
    <!-- Specify UI -->
    <UIRef Id="MyUI" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Binary Id="CheckSqlConnection.dll" SourceFile="$(var.CheckSqlConnection.TargetDir)CheckSqlConnection.CA.dll"/>
    <CustomAction Id="CheckSqlConnectionAction" BinaryKey="CheckSqlConnection.dll" DllEntry="CheckSqlConnection"/>

		<Feature Id="ProductFeature" Title="Starehe" Level="1">     
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ShortcutComponents" />
      <ComponentRef Id="MySqlComponent" />
		</Feature>
    
     <CustomAction Id="SetServerName" Property="DB_SERVER" Value="[ComputerName]\Starehe" Execute="immediate"/>
    
    <InstallExecuteSequence>
      <Custom Action="SetServerName"
      After="LaunchConditions" />
    </InstallExecuteSequence>
    
    <Condition Message="OS must be Windows Vista SP2, Server 2008, or higher.">
      <![CDATA[Installed OR VersionNT >= 600]]>
    </Condition>
  
 <Binary Id="CreateTablesBin"  SourceFile="MyDb.sql" />
 
	</Product>

 

  <!-- Program Folders & SQL Tables -->
  <Fragment>
    <util:User Id="SQLUserSA" Name="[DB_USER]" Password="[DB_PASSWORD]"></util:User>
      
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ALFolder" Name="Almond Tech">
          <Directory Id="INSTALLFOLDER" Name="Umanyi">
            <Component Id="MySqlComponent" Guid="8A1C82DB-1DD3-4FB5-8600-4F370FE1E04B">
        <Condition>NOT Installed</Condition>
        <sql:SqlDatabase Id="MySqlDatabase" Database="[DB_DATABASE]" Server="[DB_SERVER]" CreateOnInstall="yes"  ConfirmOverwrite="yes" DropOnUninstall="yes" User="SQLUserSA" ContinueOnError="no">
          <sql:SqlScript Id="CreateTables" ExecuteOnInstall="yes" ExecuteOnUninstall="no" BinaryKey="CreateTablesBin" ContinueOnError="no" />
          </sql:SqlDatabase>
        <CreateFolder/>
      </Component>
            </Directory>
        </Directory>
			</Directory>
      <Directory Id="DesktopFolder"/>    
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="cmp1" Guid="{D6EAC4C4-B3C8-4A52-B821-1D465AB16A8E}">
        <File Source="$(var.Starehe.TargetDir)Starehe.exe" />
      </Component>
      <Component Id="cmp2" Guid="{694CFD13-8070-4C27-8D94-EA7A6191E384}">
        <File Source="$(var.Helper.TargetDir)Helper.dll" />
      </Component>
      <Component Id="cmp3" Guid="{13907959-F459-4C77-82AD-B1E0142E5208}">
        <File Source="$(var.Starehe.Helper.TargetDir)Starehe.Helper.dll" />
      </Component>
      <Component Id="cmp4" Guid="{A04A12FD-CBC1-425D-AE9C-53C3C2425C74}">
        <File Source="$(var.Starehe.TargetDir)Microsoft.WindowsAPICodePack.dll" />
      </Component>
      <Component Id="cmp5" Guid="{41101E03-C321-4869-AB06-BAAEFF6500B5}">
        <File Source="$(var.Starehe.TargetDir)Microsoft.WindowsAPICodePack.Shell.dll" />
      </Component>
      <Component Id="cmp6" Guid="{8DEBFFC5-D9F8-46E5-8291-C43A62D7C314}">
        <File Source="$(var.Starehe.TargetDir)System.Collections.Immutable.dll" />
      </Component>
    <Component Id="cmp7" Guid="{8DEBFFC5-D9F8-46E5-8291-C43A62E7C314}">
        <File Source="$(var.Starehe.TargetDir)longhorn.pdf" />
      </Component>
    <Component Id="cmp8" Guid="{8DEBFFC5-D9F8-46E5-8291-C43AC2D7C314}">
        <File Source="$(var.Starehe.TargetDir)klb.pdf" />
      </Component>
      <Component Id="cmp9" Guid="{8DEBFFC5-D9F8-46F5-8291-C43B62D7C314}">
        <File Source="$(var.Starehe.TargetDir)eaep.pdf" />
      </Component>
      <Component Id="cmp10" Guid="{8DEBFFC5-D9F8-36E5-8291-C43A62D7C314}">
        <File Source="$(var.Starehe.TargetDir)PAYEGuide2009.pdf" />
      </Component>
        <Component Id="cmp11" Guid="{8DEBFFC5-D9F8-44E5-8290-C43A62D7C314}">
        <File Source="$(var.Starehe.TargetDir)Interop.AcroPDFLib.dll" />
      </Component>
        <Component Id="cmp12" Guid="{8DEBFFC5-D9F8-46C5-8292-C43A62D7C314}">
        <File Source="$(var.Starehe.TargetDir)AxInterop.AcroPDFLib.dll" />
      </Component>
		</ComponentGroup>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="ShortcutComponents" Directory="DesktopFolder">
      <Component Id="cmp13" Guid="33741C82-30BF-41EF-8246-44A5DCFCF953">
        <Shortcut Id="desktopShortcut" Name="Shishi"
        Description="Shishi Management System"
        Target="[INSTALLFOLDER]Starehe.exe" />
        <RegistryValue Root="HKCU"
        Key="Software\Almond Tech"
        Name="installed"
        Type="integer"
        Value="1"
        KeyPath="yes" />
      <RegistryValue Root="HKCU"
        Key="Software\Almond Tech"
        Name="first_run"
        Type="integer"
        Value="1"/>
      </Component>
    </ComponentGroup>
  </Fragment>
  
</Wix>