<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>
    
    <?define InstanceName = "STAREHE" ?>
    <?define SqlWebLink32Bit = http://download.microsoft.com/download/0/4/B/04BE03CD-EAF3-4797-9D8D-2E08E316C998/SQLEXPR_x86_ENU.exe ?>
    <?define SqlWebLink64Bit = http://download.microsoft.com/download/0/4/B/04BE03CD-EAF3-4797-9D8D-2E08E316C998/SQLEXPR_x64_ENU.exe ?>

    <Variable Name="SqlVariable" Type="string" Value="/SAPWD=000002" Hidden="yes" />

    
    <util:RegistrySearch
      Id="SqlInstanceKeyFoundX86"
      Win64="no" Condition="NOT VersionNT64"
      Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\Instance Names\SQL" Value="$(var.InstanceName)"
      Result="exists" Variable="SqlInstanceKeyFound" />

    <util:RegistrySearch
      Id="SqlInstanceKeyFoundX64"
      Win64="yes" Condition="VersionNT64"
      Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\Instance Names\SQL" Value="$(var.InstanceName)"
      Result="exists" Variable="SqlInstanceKeyFound" />

    <util:RegistrySearch
      Id="SqlInstanceKeyX86"
      Win64="no"
      Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\Instance Names\SQL" Value="$(var.InstanceName)"
      Variable="SqlInstanceKey" After="SqlInstanceKeyFoundX86" Condition="SqlInstanceKeyFound AND NOT VersionNT64" />

    <util:RegistrySearch
      Id="SqlInstanceKeyX64"
      Win64="yes"
      Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\Instance Names\SQL" Value="$(var.InstanceName)"
      Variable="SqlInstanceKey" After="SqlInstanceKeyFoundX64" Condition="SqlInstanceKeyFound AND VersionNT64" />
        
    <util:RegistrySearch
      Id="SqlInstanceFoundX86"
      Win64="no"
      Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\[SqlInstanceKey]"
      Result="exists" Variable="SqlInstanceFound" After="SqlInstanceKeyX86" Condition="SqlInstanceKeyFound AND NOT VersionNT64" />

    <util:RegistrySearch
      Id="SqlInstanceFoundX64"
       Win64="yes"
      Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\[SqlInstanceKey]"
      Result="exists" Variable="SqlInstanceFound" After="SqlInstanceKeyX64" Condition="SqlInstanceKeyFound AND VersionNT64" />
    
    <util:RegistrySearch
      Id="SqlVersionX86"
      Win64="no"
      Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\[SqlInstanceKey]\Setup" Value="Version"
      Variable="SqlVersion" After="SqlInstanceKeyX86" Condition="SqlInstanceFound AND NOT VersionNT64" />

    <util:RegistrySearch
      Id="SqlVersionX64"
      Win64="yes"
      Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\[SqlInstanceKey]\Setup" Value="Version"
      Variable="SqlVersion" After="SqlInstanceKeyX64" Condition="SqlInstanceFound AND VersionNT64" />

    <PackageGroup Id="SQL_SERVER_2008_EXPRESS">
      <!-- SQL Server 2008 R2 SP2 Express - Install new instance-->
      <ExePackage Id="Sql2008ExpressX86"
        DisplayName="SQL Server 2008 R2 SP2 Express"
        Cache="yes"
        Compressed="no"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Name="Redist\SQLEXPR_x86_ENU.exe"
        DownloadUrl="$(var.SqlWebLink32Bit)"
        InstallCommand="/ACTION=Install /INSTANCENAME=$(var.InstanceName) /FEATURES=SQL /SECURITYMODE=SQL [SqlVariable] /TCPENABLED=1 /SQLSVCACCOUNT=&quot;NT AUTHORITY\NETWORK SERVICE&quot; /SQLSYSADMINACCOUNTS=BUILTIN\Administrators /ADDCURRENTUSERASSQLADMIN=FALSE /QS /HIDECONSOLE /SkipRules=RebootRequiredCheck /IAcceptSQLServerLicenseTerms"
        UninstallCommand="/Action=Uninstall /INSTANCENAME=$(var.InstanceName) /FEATURES=SQL /QS /HIDECONSOLE"
        RepairCommand="/ACTION=Repair /QS /FEATURES=SQLEngine /INSTANCENAME=$(var.InstanceName)"
        DetectCondition="SqlInstanceFound"
        InstallCondition="NOT VersionNT64">
        <ExitCode Value ="3010" Behavior="forceReboot" />
        <RemotePayload
          Description="SQL Server 2008 R2 Express SP2"
          Hash="6CE34F57A13E0DED95CAF4405FAD133E859ADE30"
          ProductName="SQL Server 2008 R2 Express SP2"
          Size="115763632"
          Version="10.50.4000.0" />
      </ExePackage>

      <ExePackage Id="Sql2008ExpressX64"
        DisplayName="SQL Server 2008 R2 SP2 Express"
        Cache="yes"
        Compressed="no"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Name="Redist\SQLEXPR_x64_ENU.exe"
        DownloadUrl="$(var.SqlWebLink64Bit)"
        InstallCommand="/ACTION=Install /INSTANCENAME=$(var.InstanceName) /FEATURES=SQL /SECURITYMODE=SQL [SqlVariable] /TCPENABLED=1 /SQLSVCACCOUNT=&quot;NT AUTHORITY\NETWORK SERVICE&quot; /SQLSYSADMINACCOUNTS=BUILTIN\Administrators /ADDCURRENTUSERASSQLADMIN=FALSE /QS /HIDECONSOLE /SkipRules=RebootRequiredCheck /IAcceptSQLServerLicenseTerms"
        UninstallCommand="/Action=Uninstall /INSTANCENAME=$(var.InstanceName) /FEATURES=SQL /QS /HIDECONSOLE"
        RepairCommand="/ACTION=Repair /QS /FEATURES=SQLEngine /INSTANCENAME=$(var.InstanceName)"
        DetectCondition="SqlInstanceFound"
        InstallCondition="VersionNT64">
        <ExitCode Value ="3010" Behavior="forceReboot" />
        <RemotePayload
          Description="SQL Server 2008 R2 Express SP2"
          Hash="E768A3B70E3F3B596EFFA9F57D812F95C0A0506B"
          ProductName="SQL Server 2008 R2 Express SP2"
          Size="128331696"
          Version="10.50.4000.0" />
      </ExePackage>

      <!--
    SQL Server 2008 Express - Upgrade existing pre-SQL 2008 R2 SP2 instance
  -->
      <ExePackage Id="Sql2008ExpressUpgradeX86"
        DisplayName="SQL Server 2008 R2 SP2 Express Upgrade"
        Cache="no"
        Compressed="no"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Name="Redist\SQLEXPR_x86_ENU.exe"
        DownloadUrl="$(var.SqlWebLink32Bit)"
        InstallCommand="/ACTION=Upgrade /INSTANCENAME=$(var.InstanceName) /Q /HIDECONSOLE /SkipRules=RebootRequiredCheck /IAcceptSQLServerLicenseTerms"
        DetectCondition="NOT (SqlInstanceFound AND (SqlVersion &lt; v10.50.4000.0))"
        InstallCondition="NOT VersionNT64">
        <ExitCode Value ="3010" Behavior="forceReboot" />
        <RemotePayload
          Description="SQL Server 2008 R2 Express SP2"
          Hash="6CE34F57A13E0DED95CAF4405FAD133E859ADE30"
          ProductName="SQL Server 2008 R2 Express SP2"
          Size="115763632"
          Version="10.50.4000.0" />
      </ExePackage>

      <ExePackage Id="Sql2008ExpressUpgradeX64"
        DisplayName="SQL Server 2008 R2 SP2 Express Upgrade"
        Cache="no"
        Compressed="no"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Name="Redist\SQLEXPR_x86_ENU.exe"
        DownloadUrl="$(var.SqlWebLink64Bit)"
        InstallCommand="/ACTION=Upgrade /INSTANCENAME=$(var.InstanceName) /Q /HIDECONSOLE /SkipRules=RebootRequiredCheck /IAcceptSQLServerLicenseTerms"
        DetectCondition="NOT (SqlInstanceFound AND (SqlVersion &lt; v10.50.4000.0))"
        InstallCondition="VersionNT64">
        <ExitCode Value ="3010" Behavior="forceReboot" />
        <RemotePayload
          Description="SQL Server 2008 R2 Express SP2"
          Hash="E768A3B70E3F3B596EFFA9F57D812F95C0A0506B"
          ProductName="SQL Server 2008 R2 Express SP2"
          Size="128331696"
          Version="10.50.4000.0" />
      </ExePackage>

    </PackageGroup>
      </Fragment>

</Wix>