<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>


      <Dialog Id="SCSqlServerConnection" Width="370" Height="270" Title="Database Setup" NoMinimize="yes">
        <Control Id="TextSqlServerName" Type="Text" X="22" Y="60" Width="122" Height="10">
          <Text>Server</Text>
        </Control>
        <Control Id="editSqlServerName" Type="Edit" X="22" Y="75" Width="173" Height="15" Property="DB_SERVER"></Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Condition Action="enable">
            SQLCONNECTIONTESTRESULT = 1
          </Condition>
          <Condition Action="disable"><![CDATA[SQLCONNECTIONTESTRESULT <> 1]]></Condition>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.BrowseDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="2" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Please Select the sql Server you want to use" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Server Setup" />
        <Control Id="label1" Type="Text" Height="10" Width="152" X="22" Y="101" Text="Database Name" />
        <Control Id="txtDatabase" Type="Edit" Height="15" Width="173" X="22" Y="116" Property="DB_DATABASE" />
        <Control Id="btnCheckConnection" Type="PushButton" Height="17" Width="56" X="304" Y="213" Text="Test">
          <Publish Event="SpawnDialog" Value="CheckConnection" Order="2">1</Publish>
          <Publish Event="DoAction" Value="CheckSqlConnectionAction" Order="1">1</Publish>
        </Control>
        <Control Id="label2" Type="Text" Height="38" Width="159" X="22" Y="150" Text="Press 'Test' to begin the connection test.  The installation cannot continue until it is completed." />
      </Dialog>

      <Dialog Id="CheckConnection" Width="260" Height="85" Title="Database Setup" NoMinimize="yes">
        <Control Id="Yes" Type="PushButton" X="72" Y="57" Width="56" Height="17" Text="!(loc.WixUIOK)">
          <Publish Event="EndDialog" Value="Return">1</Publish>

        </Control>
        <Control Id="TextFailed" Type="Text" X="48" Y="15" Width="194" Height="30" Text="Test Failed.">
          <Condition Action="show">
            SQLCONNECTIONTESTRESULT = 0
          </Condition>
          <Condition Action="hide">
            <![CDATA[SQLCONNECTIONTESTRESULT <> 0]]>
          </Condition>
        </Control>
        <Control Id="TextSuccess" Type="Text" X="48" Y="15" Width="194" Height="30" Text="Test Succeeded!">
          <Condition Action="show">
            SQLCONNECTIONTESTRESULT = 1
          </Condition>
          <Condition Action="hide">
            <![CDATA[SQLCONNECTIONTESTRESULT <> 1]]>
          </Condition>
        </Control>
      </Dialog>

    </UI>
  </Fragment>
</Wix>
