<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">

  <?if $(var.Platform)=x64 ?>

  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define Win64 = "yes"?>
  <?define ProductName = "Umanyi School MS (64 bit)" ?>
  <?define ProductCode= "5BD9BAFA-34ED-463C-9C14-EB793AF9D45D" ?>

  <?else ?>

  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define Win64 = "no"?>
  <?define ProductName = "Umanyi School MS" ?>
  <?define ProductCode = "b4eb6134-f631-4d04-926f-ea97dfbd6bc2" ?>
  <?endif ?>
  
  <Product Id="*" Name="$(var.ProductName)" Language="2057" Version="6.6.5.2015" Manufacturer="Umanyi Digital Technologies Ltd" 
           UpgradeCode="$(var.ProductCode)">
    
		<Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />

  
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

  <Property Hidden="yes" Id="DB_USER" Value="sa"/>
    <Property Hidden="yes" Id="DB_PASSWORD" Value="000002"/>
    <Property Hidden="yes" Id="DB_DATABASE" Value="UmanyiSMS"/>
  
    <!-- Specify UI -->
    <UIRef Id="MyUI" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Binary Id="CheckSqlConnection.dll" SourceFile="$(var.CheckSqlConnection.TargetDir)CheckSqlConnection.CA.dll"/>
    <CustomAction Id="CheckSqlConnectionAction" BinaryKey="CheckSqlConnection.dll" DllEntry="CheckSqlConnection"/>

		<Feature Id="ProductFeature" Title="Umanyi" Level="1">     
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="CommonComponents" />
      <ComponentGroupRef Id="ShortcutComponents" />
      <ComponentRef Id="MySqlComponent" />
		</Feature>
    
     <CustomAction Id="SetServerName" Property="DB_SERVER" Value="[ComputerName]\Umanyi" Execute="immediate"/>

    <CustomAction Id="SetPassword" Property="DB_SERVER" Value="[ComputerName]\Umanyi" Execute="immediate"/>
    
    <InstallExecuteSequence>
      <Custom Action="SetServerName"
      After="LaunchConditions" />
    </InstallExecuteSequence>
    
    
    
    <Condition Message="OS must be Windows Vista SP2, Server 2008, or higher.">
      <![CDATA[Installed OR VersionNT >= 600]]>
    </Condition>
  
 <Binary Id="CreateTablesBin"  SourceFile="MyDb.sql" />
 
	</Product>

 

  <!-- Program Folders & SQL Tables -->
  <Fragment>
    <util:User Id="SQLUserSA" Name="[DB_USER]" Password="[DB_PASSWORD]"></util:User>
      
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ALFolder" Name="Umanyi">
          <Directory Id="INSTALLFOLDER" Name="Umanyi School MS">
            <Component Id="MySqlComponent" Guid="{67F2BAA5-55B6-416F-BAF4-B971A54E68F3}">
        <Condition>NOT Installed</Condition>
        <sql:SqlDatabase Id="MySqlDatabase" Database="[DB_DATABASE]" Server="[DB_SERVER]" CreateOnInstall="yes"  ConfirmOverwrite="yes" DropOnUninstall="yes" User="SQLUserSA" ContinueOnError="no">
          <sql:SqlScript Id="CreateTables" ExecuteOnInstall="yes" ExecuteOnUninstall="no" BinaryKey="CreateTablesBin" ContinueOnError="no" />
          </sql:SqlDatabase>
        <CreateFolder/>
      </Component>
            </Directory>
        </Directory>
			</Directory>
      <Directory Id="DesktopFolder"/>    
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="cmp1" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)AxInterop.AcroPDFLib.dll" />
      </Component>
      <Component Id="cmp2" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)DevDefined.OAuth.dll" />
      </Component>
      
       <!--Confused--> 
      <Component Id="cmp3" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Helper.dll" />
      </Component>
      
      
      
      <Component Id="cmp5" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Interop.AcroPDFLib.dll" />
      </Component>
      <Component Id="cmp6" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Intuit.Ipp.Core.dll" />
      </Component>
      <Component Id="cmp7" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Intuit.Ipp.Data.dll" />
      </Component>
      <Component Id="cmp8" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Intuit.Ipp.Diagnostics.dll" />
      </Component>
      <Component Id="cmp9" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Intuit.Ipp.Exception.dll" />
      </Component>
      <Component Id="cmp10" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Intuit.Ipp.Retry.dll" />
      </Component>
      <Component Id="cmp11" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Intuit.Ipp.Security.dll" />
      </Component>
      <Component Id="cmp12" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Intuit.Ipp.Utility.dll" />
      </Component>
      <Component Id="cmp13" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)log4net.dll" />
      </Component>
      <Component Id="cmp14" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Microsoft.WindowsAPICodePack.dll" />
      </Component>
      <Component Id="cmp15" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Microsoft.WindowsAPICodePack.Shell.dll" />
      </Component>
      <Component Id="cmp16" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)Newtonsoft.Json.dll" />
      </Component>
      
        <!--Confused-->
      <Component Id="cmp17" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)OpenXmlPackaging.dll" />
      </Component>
      
        
      <Component Id="cmp18" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)System.Collections.Immutable.dll" />
      </Component>
      
        <!--Confused-->
       <Component Id="cmp19" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)UmanyiSMS.exe" />
      </Component>
      <!--Confused-->
      <Component Id="cmp20" Guid="*">
        <File Source="$(var.UmanyiSMS.TargetDir)UmanyiSMS.Helper.dll" />
      </Component>
		</ComponentGroup>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="CommonComponents" Directory="INSTALLFOLDER">
      <Component Id="cmpc1" Guid="*">
        <File Source="E:\Dev\School MS Common\eaep.pdf" />
      </Component>
      <Component Id="cmpc2" Guid="*">
        <File Source="E:\Dev\School MS Common\gxps-9.15-win32.exe" />
      </Component>
      <Component Id="cmpc3" Guid="*">
        <File Source="E:\Dev\School MS Common\jkf.pdf" />
      </Component>
      <Component Id="cmpc4" Guid="*">
        <File Source="E:\Dev\School MS Common\klb.pdf" />
      </Component>
      <Component Id="cmpc5" Guid="*">
        <File Source="E:\Dev\School MS Common\longhorn.pdf" />
      </Component>
       <Component Id="cmpc6" Guid="*">
        <File Source="E:\Dev\School MS Common\PAYEGuide2009.pdf" />
      </Component>
      <Component Id="cmpc7" Guid="*">
        <File Source="E:\Dev\School MS Common\Tut1.pdf" />
      </Component>
      <Component Id="cmpc8" Guid="*">
        <File Source="E:\Dev\School MS Common\Tut2.pdf" />        
      </Component>
      <Component Id="cmpc9" Guid="*">
        <File Source="E:\Dev\School MS Common\Tut3.pdf" />
      </Component>
      <Component Id="cmpc10" Guid="*">
        <File Source="E:\Dev\School MS Common\tutorial1.pdf" />
      </Component>
      <Component Id="cmpc11" Guid="*">
        <File Source="E:\Dev\School MS Common\tutorial2.pdf" />
      </Component>
      <Component Id="cmpc12" Guid="*">
        <File Source="E:\Dev\School MS Common\tutorial3.pdf" />
      </Component>
      <Component Id="cmpc13" Guid="*">
        <File Source="E:\Dev\School MS Common\Video1.mp4" />
      </Component>
      <Component Id="cmpc14" Guid="*">
        <File Source="E:\Dev\School MS Common\Video2.mp4" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ShortcutComponents" Directory="DesktopFolder">
      <Component Id="cmp21" Guid="*">
        <Shortcut Id="desktopShortcut" Name="Umanyi School MS"
        Description="Umanyi School Management System"
        Target="[INSTALLFOLDER]UmanyiSMS.exe" />
        <RegistryValue Root="HKCU"
        Key="Software\Umanyi Digital Technologies"
        Name="installed"
        Type="integer"
        Value="1"
        KeyPath="yes" />
      <RegistryValue Root="HKCU"
        Key="Software\Umanyi Digital Technologies"
        Name="first_run"
        Type="integer"
        Value="1"/>
      </Component>
    </ComponentGroup>
  </Fragment>
  
</Wix>